<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>resizable</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.js"></script>
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
<body>
<form method="POST" enctype="multipart/form-data" action="https://www.google.com/save" id="myForm">
  <input type="hidden" name="img_val" id="img_val" value="" />
</form>

<div id="more">
  <h1 style='color: red'> hello </h1>
  <iframe src="https://tags.mli.me/12751">
  </iframe>
  <button onclick="take()"> take </button>
</div>

<script>
    window.take = function() {
        console.log("asdfasdfasf");
        html2canvas(document.getElementById("more"), {
            onrendered: function (canvas) {
                document.getElementById('img_val').value = canvas.toDataURL("image/png");
                //document.getElementById("myForm").submit();
                postToImgur()
            }
        })
    }
    window.postToImgur = function postToImgur() {
        var formData = new FormData();
        formData.append("image", document.getElementById("img_val").value);
        $.ajax({
            url: 'https://api.imgur.com/3/image',
            method: 'POST',
            headers: {
                "Authorization": "Client-ID " + clientId,
                Accept: 'application/json'
            },
            data: {
                image: document.getElementById("img_val").value.replace("data:image/png;base64,", ""),
                type: 'base64'
            },
            success: function(result) {
                var id = result.data.id;
                alert('https://imgur.com/gallery/' + id);
            }
        });

    }
</script>
</body>
</html>
