<!DOCTYPE html>
<html>
<head>

    <meta name="generator" content="editplus">
    <meta name="author" content="angeleyes">
    <meta name="keywords" content="angeleyes, testhtml, testjavascript">
    <meta name="description" content="test document">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" href="css/print.css"/>
    <style type="text/css">

        #header {
            background-color: #00B7FF;
        }

        .jbFixed {
            position: fixed;
            top: 0px;
        }

        .show-on-scroll { visibility: hidden; }
        .show-on-scroll.shown { visibility: visible; }

    </style>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/viewer.js"></script>
    <script src="js/report.js"></script>
    <script src="js/report_layer.js"></script>
    <script src="js/band.js"></script>
    <script src="js/print.js"></script>

   <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/viewer.js"></script>
    <!--<script src="js/index.js"></script>-->
    <script>
    $(document).ready(function(){
        $("#header").load("/include/header.ejs");

        sizechanged();
        copyoptions();

        var data = <%-data%>;
        var jbOffset = $( '#header' ).offset();
        console.log("jbOffset : ",jbOffset);
        $( window ).scroll( function() {
            if ( $( document ).scrollTop() > jbOffset.top ) {
                $( '#header' ).addClass( 'jbFixed' );
            }
            else {
                $( '#header' ).removeClass( 'jbFixed' );
            }
        });

        var data = <%- data %>;
        console.log(data);

        var jbOffset = $( '#header' ).offset();
        console.log("jbOffset : ",jbOffset);
        $( window ).scroll( function() {
            if ( $( document ).scrollTop() > jbOffset.top ) {
                $( '#header' ).addClass( 'jbFixed' );
            }
            else {
                $( '#header' ).removeClass( 'jbFixed' );
            }
        });

    });
</script>
</head>
<body>
<div id="header"></div>

<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="upperbar" style="width:100%;">
            <span style="width:50%; text-align:left; float:left;margin-left:10px;">고급인쇄설정</span>
            <span class="pop_bt" style="cursor:pointer;float:right;margin-right:10px;" onclick="close_pop()">X</span>
        </div>
        <div class="downpart">
            <div class="leftpart">

                <span class="subject">인쇄설정</span>
                <div class="partstyle">
                    <span>인쇄 배율</span>
                </div>

                <span class="subject">결제란 설정</span>
                <div class="partstyle">
                    <div class="partstyle2" style="height:50px;">
                        <div class="div1">
                            <span>인쇄여부</span>
                        </div>
                        <div class="div2" style="background-color:blue;">
                            <label class="container">
                                <input type="radio">인쇄함
                                <span class="checkmark"></span>
                            </label>
                            <br/>
                            <label class="container">
                                <input type="radio" checked="checked">인쇄안함
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="div3">
                            <label class="container">
                                <input type="button" value="결재란 등록">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>

                    <div class="partstyle2" style="height:50px;">
                        <div class="div1">
                            <span>인쇄 위치</span>
                        </div>
                        <div class="div2" style="background-color:blue;">
                            <label class="container">
                                <input type="radio" checked="checked">타이틀 상단
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="div3">
                            <label class="container">
                                <input type="radio">타이틀 하단
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>


                    <!--<span>인쇄 위치</span><span>타이틀 상단</span><span>타이틀 하단</span>-->
                </div>
                <span class="subject">폰트설정</span>
                <div class="partstyle">
                    <div class="partstyle2" >
                        <span>폰트서식</span>

                        <label class="container">
                            <input type="radio" checked="checked">굴림체
                            <span class="checkmark"></span>
                        </label>

                        <label class="container">
                            <input type="radio">바탕체
                            <span class="checkmark"></span>
                        </label>

                        <label class="container">
                            <input type="radio">돋움체
                            <span class="checkmark"></span>
                        </label>

                        <br/>

                        <span>폰트내용</span>

                        <label class="container">
                            <input type="radio" checked="checked">굴림체
                            <span class="checkmark"></span>
                        </label>

                        <label class="container">
                            <input type="radio" >바탕체
                            <span class="checkmark"></span>
                        </label>

                        <label class="container">
                            <input type="radio" >돋움체
                            <span class="checkmark"></span>
                        </label>

                        <br/>
                    </div>

                    <div class="partstyle2" >
                        <label class="container">
                            <input type="checkbox" checked="checked">폰트자동조정
                            <span class="checkmark"></span>
                        </label>
                        <br/>
                        <label class="container">
                            <input type="checkbox" checked="checked">금액 기울임꼴 표시
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>

            </div>
            <div class="rightpart">

                <span class="subject">용지설정</span>
                <div class="partstyle">
                    <span>용지선택</span>
                    <span>용지방향</span>
                </div>

                <span class="subject">출력설정</span>
                <div class="partstyle">
                    <span>출력일 인쇄</span>
                    <span>매수 인쇄</span>
                    <span>머리글</span>
                    <span>꼬리글</span>
                </div>



            </div>

            <div class="close">
                <input type="submit" name="close" id="closebtn" value="close" tabindex="3">
            </div>
        </div>
    </div>
</div>



<div id="content">

    <table border="1" style="width:450px;">
        <colgroup style="background-color:red;">
            <col style="width:50%;" />
            <col style="width:50%;" />
        </colgroup>
        <tbody>
        <tr>
            <td>#1</td>
            <td>#2</td>
        </tr>
        <tr>
            <td>#3</td>
            <td>#4</td>
        </tr>
        </tbody>
    </table>

</div>
<div id="reportTemplate"></div>
<div id="report">
    <div id="page1" class="page show-on-scroll shown" style="width: 798px; height: 1128.6px;">
        test
    </div>
    <div id="page2" class="page show-on-scroll shown" style="width: 798px; height: 1128.6px;">
        test2
    </div>
    <div id="page3" class="page show-on-scroll shown" style="width: 798px; height: 1128.6px;">
        test3
    </div>
    <div id="page4" class="page show-on-scroll shown" style="width: 798px; height: 1128.6px;">
        test4
    </div>
    <div id="page5" class="page show-on-scroll shown" style="width: 798px; height: 1128.6px;">
        test5
    </div>
</div>
</body>
</html>
