<!DOCTYPE html>
<html>
<head>
    <meta name="generator" content="editplus">
    <meta name="author" content="angeleyes">
    <meta name="keywords" content="angeleyes, testhtml, testjavascript">
    <meta name="description" content="test document">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Document</title>

    <style type="text/css">

        #header {
            background-color: #00B7FF;
        }

        .jbFixed {
            position: fixed;
            top: 0px;
        }

        .show-on-scroll { visibility: hidden; }
        .show-on-scroll.shown { visibility: visible; }

    </style>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/viewer.js"></script>
    <script src="js/report.js"></script>
    <script src="js/report_layer.js"></script>
    <script src="js/band.js"></script>
    <script src="js/print.js"></script>
    <script src="js/viewer.js"></script>
    <script src="js/index.js"></script>
    <script src="js/createBand.js"></script>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" href="css/print.css"/>
    <script>
        var data = <%-data%>;  //xml json 데이터
        var dataTable = <%- dataTable %> //임시 데이터 dataTable
    $(document).ready(function(){
        $("#header").load("/include/header.ejs");
        $("#myModal").load("/include/modal.ejs");

        var jbOffset = $( '#header' ).offset();
        console.log("jbOffset : ",jbOffset);
        $( window ).scroll( function() {
            if ( $( document ).scrollTop() > jbOffset.top ) {
                $( '#header' ).addClass( 'jbFixed' );
            }
            else {
                $( '#header' ).removeClass( 'jbFixed' );
            }
        });

        var jbOffset = $( '#header' ).offset();
        console.log("jbOffset : ",jbOffset);
        $( window ).scroll( function() {
            if ( $( document ).scrollTop() > jbOffset.top ) {
                $( '#header' ).addClass( 'jbFixed' );
            }
            else {
                $( '#header' ).removeClass( 'jbFixed' );
            }
        });

        makeReportTemplate(data);

    });
    </script>

</head>
<body>
<div id="header"></div>
<div id="myModal" class="modal"></div>

<div id="test">

</div>

<div id="reportTemplate"></div>
<div id="report">
    <div id="page1" class="page show-on-scroll shown" style="width: 798px; height: 1128.6px;">
        test
    </div>
    <div id="page2" class="page show-on-scroll shown" style="width: 798px; height: 1128.6px;">
        test2
    </div>
    <div id="page3" class="page show-on-scroll shown" style="width: 798px; height: 1128.6px;">
        test3
    </div>
    <div id="page4" class="page show-on-scroll shown" style="width: 798px; height: 1128.6px;">
        test4
    </div>
    <div id="page5" class="page show-on-scroll shown" style="width: 798px; height: 1128.6px;">
        test5
    </div>
</div>
</body>
</html>