<!DOCTYPE html>
<html>
<head>
    <meta name="generator" content="editplus">
    <meta name="author" content="angeleyes">
    <meta name="keywords" content="angeleyes, testhtml, testjavascript">
    <meta name="description" content="test document">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" href="css/print.css"/>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>jspdf lib 추가-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>html2canvas lib 추가-->

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
          rel = "stylesheet">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/viewer.js"></script>
    <script src="js/report.js"></script>
    <script src="js/report_layer.js"></script>
    <script src="js/band.js"></script>
    <script src="js/createBand.js"></script>
    <script src="js/print.js"></script>
    <script src="js/viewer_header01.js"></script>
    <script src="js/viewer_header02.js"></script>
    <script src="js/viewer.js"></script>
    <script src="js/drawingBand.js"></script>
    <script src="js/label.js"></script>
    <script src="js/createLabel.js"></script>
    <script src="js/drawCurrPageNTotalPage.js"></script>
    <!--<script src="https://code.jquery.com/jquery-1.12.4.js"></script>-->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>

        var data = <%-data%>;  //xml json 데이터
        var dataTable = <%- dataTable %>; //임시 데이터 dataTable

        $(document).ready(function () {
            $("#header").load("/include/header.ejs");
            $("#myModal").load("/include/modal.ejs");
            $('#modalTableChoice').load("/include/modalTableChoice.ejs");

            makeReportTemplate(data);

            drawPageNumberNTotalPageLabel();
            drawTotalPageLabel();
            drawPageNumberLabel();
            band_dbclick_event();

            image_setting();

        });
    </script>
    <style>
        *{
            letter-spacing: -1.181pt;
        }
        .backGroundLayer, .foreGroundLayer{
            visibility : hidden;
        }
    </style>
</head>
<body>
<div id="header"></div>
<div id="myModal" class="modal"></div>

<div id="modalTableChoice" class="modal"></div>

<div id="Image_Modal">
<div id="reportTemplate" style="background-color:lightyellow;"></div>
<div id="Image_Modal"><!--이미지 추가 모달창-->
    <div id="modalLayer">
        <div class="modalContent">
            <input id="image_insert" type="file" multiple accept="image/*"><br/>
            <button id="upload_button" type="submit" value="">확인</button>
            <button id="upload_cancel" type="button">취소</button>
        </div>
    </div>
</div>
<div id="Image_Modal2"><!--이미지 추가 상세 모달창-->
    <div id="image_dialog" title="이미지 속성">
        <div id="dialog">
            <p>이미지 속성 변경</p>
            <div id="dialog_parking">

            </div>
        </div>
    </div>
</div>
</body>
</html>