<!DOCTYPE html>
<html>
<head>
    <meta name="generator" content="editplus">
    <meta name="author" content="angeleyes">
    <meta name="keywords" content="angeleyes, testhtml, testjavascript">
    <meta name="description" content="test document">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" href="css/print.css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
          rel = "stylesheet">
    <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/viewer.js"></script>
    <script src="js/report.js"></script>
    <script src="js/report_layer.js"></script>
    <script src="js/band.js"></script>
    <script src="js/createBand.js"></script>
    <script src="js/print.js"></script>
    <script src="js/viewer_header01.js"></script>
    <script src="js/viewer.js"></script>
    <script src="js/drawingBand.js"></script>
    <script src="js/label.js"></script>
    <script src="js/createLabel.js"></script>

    <!--<script src="https://code.jquery.com/jquery-1.12.4.js"></script>-->
    <!--<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->
    <script>
        var data = <%-data%>;  //xml json 데이터
        var dataTable = <%- dataTable %> //임시 데이터 dataTable
            $(document).ready(function () {
                $("#header").load("/include/header.ejs");
                $("#myModal").load("/include/modal.ejs");

                makeReportTemplate(data);

                var reportTemplate = new ReportTemplate(data);
                // console.log(reportTemplate.reportList[0].layers.designLayer.bands);

                judgementControlList(reportTemplate.reportList[0].layers.designLayer.bands[0], 'B6442471f-cc5a-4ccc-a0ad-12dc52f828f6');
                judgementControlList(reportTemplate.reportList[0].layers.designLayer.bands[1], 'B75fcf2e2-da89-4074-846a-d683fc0c791f');

                judgementControlList(reportTemplate.reportList[0].layers.designLayer.bands[2], 'Bd4ab0865-a7e0-4826-8ff4-40804742100c');
                judgementControlList(reportTemplate.reportList[0].layers.designLayer.bands[3], 'B901e8ca2-970a-4053-8fc1-803239b9de2e');

                judgementControlList(reportTemplate.reportList[0].layers.designLayer.bands[4], 'B6e62ad04-3e15-4ede-b740-558b2488df05');
                judgementControlList(reportTemplate.reportList[0].layers.designLayer.bands[5], 'B6cd3e0cd-8e8c-4ed8-8828-ab2db1be6975');


            });
    </script>
</head>
<body>
<div id="header"></div>
<div id="myModal" class="modal"></div>

<div id="Image_Modal">
    <div id="modalLayer">
        <div class="modalContent">
            <!--<form class="modelform" action="header.ejs" method="post">-->
                <input id="image_insert" type="file" multiple accept="image/*"><br/>
                <button id="upload_button" type="submit" value="">확인</button>
                <button id="upload_cancel" type="button">취소</button>
            <!--</form>-->
        </div>
    </div>
</div>
<div id="reportTemplate"></div>

<div class="test">
    <!--<div id="resizable" class="ui-widget-content">-->
        <!--<h3 class="ui-widget-header">Resizable</h3>-->
    <!--</div>-->
    <div class='box'>
        <div class='boxheader'>Header</div>
        <div class='boxbody'>Resize me</div>
        <div class='win-size-grip'></div>
    </div>
</div>

</body>
</html>