<!DOCTYPE html>
<html>
<head>
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
    <meta name="generator" content="editplus">
    <meta name="author" content="angeleyes">
    <meta name="keywords" content="angeleyes, testhtml, testjavascript">
    <meta name="description" content="test document">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Document</title>
   <!--<script src="http://code.jquery.com/jquery-latest.min.js"></script>-->
    <style type="text/css">
        @media print {
            #header {
                display: none;
            }
            div.page {
                page-break-after: always;
            }
            body{
                -webkit-transform:scale(1.50);
                -webkit-transform-origin:0 0;
                -moz-transform:scale(1.50);
                -moz-transform-origin:0 0;
                -o-transform:scale(1.50);
                -o-transform-origin:0 0;
            }
        }

        /*    div#report1 {
                background-color: lightblue;
            }*/
    </style>
   <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#header").load("/include/header.ejs");

        alert("1");
        sizechanged();
        alert("2");
        copyoptions();
        alert("3");

        var data = <%- data %>;
        console.log(data);
        console.log(data.ReportTemplate.ReportList.anyType.Rectangle.Width._text);
        console.log(data.ReportTemplate.ReportList.anyType.Rectangle.Height._text);

        var Report = data.ReportTemplate.ReportList.anyType;
        // Report 개수만큼 div 생성
        for(var i = 0; i < Report.length; i++){
            var pageNo = GetRecentPage();
            appendReport(pageNo, Report);
        }

        var Layer = Report.Layers.anyType;

        // BackGroundLayer를 사용하지 않을 때
        if(Layer[0].IsActive._text == 'false'){
        } else {
            var BackGroundLayer = Layer[0].Bands.anyType;
        }

        // DesignLayer를 사용하지 않을 때
        if(Layer[1].IsActive._text == 'false'){
        } else {
            var DesignLayer = Layer[1].Bands.anyType;
        }

        // console.log(DesignLayer[0]._attributes["xsi:type"]);

        // anyType 을 div id 로 지정
        // for(var i = 0; i < DesignLayer.length; i++){
        //     appendDiv(DesignLayer[i]._attributes["xsi:type"], 'report1');
        //     setArea(DesignLayer[i]._attributes["xsi:type"], DesignLayer[i]);
        // }

        // ForeGroundLayer를 사용하지 않을 때
        if(Layer[2].IsActive._text == 'false'){
        } else {
            var ForeGroundLayer = Layer[2].Bands.anyType;
        }

        // console.log(DesignLayer);
    });
    function copyoptions(){
        $("#copyOptions").live("change",function(){
            copytest();
        });
    }
    function copytest(){
        try{
            //var firstoption = $("#copyOptions option:first").val();
            //var secondoption = $("#copyOptions option:last").val();
            var copyoptions = $("#copyOptions").val();

            if($("#copyOptions:selected option:eq(0)"))
            {
                alert("1번째 선택 : " + firstoption);
            }else if($("#copyOptions:selected option:eq(1)")){
                alert("2번째 선택 : " + secondoption);
            }else{
                alert("1,2 말고 딴거 선택함.")
            }
        }catch(e){
            console.log(e.message);
        }
    }
    function sizechanged(){
        $("#txtZoom").live("change", function(){//live로 한 이유 : on은 jquery버전상 안맞아서 live써야함 지연피셜
            //alert($(this).val());
            test();
        });
    }
    function test(){
        try {
            //alert("test try들옴")
            var flexiblecontent = document.getElementById("content");
            var size = $("#txtZoom").val();
            //alert("size : " + size);

            if (jQuery.browser.msie) {
                //alert("test if 들옴");
                flexiblecontent.style.zoom = size;
            }
            else {
                //alert("test else들옴");
                $('#content').css('-webkit-transform','scale(' + (size) + ')');
                $('#content').css('-webkit-transform-origin','0 0');
                $('#content').css('-moz-transform','scale(' + (size) + ')');
                $('#content').css('-moz-transform-origin','0 0');
                $('#content').css('-o-transform','scale(' + (size) + ')');
                $('#content').css('-o-transform-origin','0 0');
            }
        }
        catch(e) {
          console.log(e.message);
        }
    }


    function zoomIn(){
        //alert("zoom in  들왔음");
        try {
            var size = $("#txtZoom").val();
            // alert("zoom in 누르기 전 size : " + size );

            //if(size > 2.00) $("#txtZoom").val("1");
            //else
            var size = parseFloat(size);
            //string 형 size를 parseFloat이용해서 number형으로 변환시켰음.

            // alert("type of size : " + typeof size);
            // alert("size : " + size);
            size = (size + 0.05).toFixed(2);
            // alert("calculated asize : " + size);
            $("#txtZoom").val();
            $("#option1").val(size);
            //alert("option1의 밸류값은 : " + $("#option1").val());
            var changedoption1 = ((($("#option1").val())*100).toFixed(0)+"%");
            $("#option1").text(changedoption1);
            $("#txtZoom option:last").attr("selected","selected");

            //$("#option1").hide();
            // alert($("#txtZoom").val());
            //var newsize = $("#txtZoom").val((size + 0.05).toFixed(2));
            //$("#txtZoom").text(size*100 + "%");


            //alert("txtZoom 의 밸류 값은 : " + $("#txtZoom").html());

            test();
        }
        catch(e) {
            alert("test ==> " + e.message);
        }
    }
    function zoomOut(){
        try {
            var size = $("#txtZoom").val();

            var size = parseFloat(size);
            //string 형 size를 parseFloat이용해서 number형으로 변환시켰음.

            size = (size - 0.05).toFixed(2);
            // alert("calculated asize : " + size);
            $("#txtZoom").val();
            $("#option1").val(size);
            //alert("option1의 밸류값은 : " + $("#option1").val());
            var changedoption1 = ((($("#option1").val())*100).toFixed(0)+"%");
            $("#option1").text(changedoption1);
            $("#txtZoom option:last").attr("selected","selected");
            //alert("txtZoom 의 밸류 값은 : " + $("#txtZoom").html());

            test();
        }
        catch(e) {
            alert("test ==> " + e.message);
        }
    }


</script>
</head>
<body>
<div id="header"></div>
<div id="content">


    <table border="1" style="width:450px;">
        <colgroup style="background-color:red;">
            <col style="width:50%;" />
            <col style="width:50%;" />
        </colgroup>
        <tbody>
        <tr>
            <td>#1</td>
            <td>#2</td>
        </tr>
        <tr>
            <td>#3</td>
            <td>#4</td>
        </tr>
        </tbody>
    </table>

</div>
<div id="report"></div>
</body>
</html>
