<!DOCTYPE html>
<html>
<head>
    <meta name="generator" content="editplus">
    <meta name="author" content="angeleyes">
    <meta name="keywords" content="angeleyes, testhtml, testjavascript">
    <meta name="description" content="test document">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" href="css/print.css"/>
    <style type="text/css">

        #header {
            background-color: #00B7FF;
        }

        .jbFixed {
            position: fixed;
            top: 0px;
        }

        .show-on-scroll { visibility: hidden; }
        .show-on-scroll.shown { visibility: visible; }

    </style>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/viewer.js"></script>
    <script src="js/report.js"></script>
    <script src="js/report_layer.js"></script>
    <script src="js/band.js"></script>
    <script src="js/createBand.js"></script>
    <script src="js/print.js"></script>
    <script src="js/viewer_header01.js"></script>
    <script src="js/viewer.js"></script>
    <script src="js/drawingBand.js"></script>
<script>
    $(document).ready(function(){
        $("#header").load("/include/header.ejs");
        $("#myModal").load("/include/modal.ejs");


        var data = <%-data%>;

        makeReportTemplate(data);
    });
</script>
</head>
<body>
<div id="header"></div>
<div id="myModal" class="modal"></div>
<div id="content">

    <table border="1" style="width:450px;">
        <colgroup style="background-color:red;">
            <col style="width:50%;" />
            <col style="width:50%;" />
        </colgroup>
        <tbody>
        <tr>
            <td>#1</td>
            <td>#2</td>
        </tr>
        <tr>
            <td>#3</td>
            <td>#4</td>
        </tr>
        </tbody>
    </table>
</div>

<div id="reportTemplate"></div>
</body>
</html>