<!DOCTYPE html>
<html>
<head>
    <meta name="generator" content="editplus">
    <meta name="author" content="angeleyes">
    <meta name="keywords" content="angeleyes, testhtml, testjavascript">
    <meta name="description" content="test document">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" href="css/print.css"/>
    <style type="text/css">

        #header {
            background-color: #00B7FF;
        }

        .jbFixed {
            position: fixed;
            top: 0px;
        }

        .show-on-scroll { visibility: hidden; }
        .show-on-scroll.shown { visibility: visible; }

    </style>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/viewer.js"></script>
    <script src="js/report.js"></script>
    <script src="js/report_layer.js"></script>
    <script src="js/band.js"></script>
    <script src="js/createBand.js"></script>
    <script src="js/print.js"></script>
    <script src="js/viewer_header01.js"></script>
    <script src="js/viewer.js"></script>
    <script src="js/drawingBand.js"></script>
    <script>
        var data = <%-data%>;  //xml json 데이터
        var dataTable = <%- dataTable %> //임시 데이터 dataTable
            $(document).ready(function () {
                $("#header").load("/include/header.ejs");
                $("#myModal").load("/include/modal.ejs");

                makeReportTemplate(data);
            });
    </script>
</head>
<body>
<div id="header"></div>
<div id="myModal" class="modal"></div>

<div id="Image_Modal">
    <div id="modalLayer">
        <div class="modalContent">
            <form class="modelform" action="header.ejs" method="post">
                <input name="image_insert" type="file" multiple accept="image/*"><br/>
                <input id="upload_button" type="button" value="확인">
                <button type="button">취소</button>
            </form>

        </div>
    </div>
</div>
<div id="reportTemplate"></div>
</body>
</html>