<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/JS/report_layer.js" language="JavaScript" type="text/javascript"></script>
    <script src="/JS/band.js" language="JavaScript" type="text/javascript"></script>
  </head>

  <body>
  </body>

  <script>
      var data = <%-data%>; // data에 Designer 파일 받아옴
      var reportTemplate = new ReportTemplate(data); // ReportTemplate 객체 생성

      console.log(reportTemplate.reportList[0].layers.designLayer.bands);
  </script>
</html>
