<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="generator" content="editplus">
    <meta name="author" content="angeleyes">
    <meta name="keywords" content="angeleyes, testhtml, testjavascript">
    <meta name="description" content="test document">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" href="css/print.css"/>
    <title></title>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/viewer.js"></script>
    <script src="js/report.js"></script>
    <script src="js/report_layer.js" language="JavaScript" type="text/javascript"></script>
    <script src="js/band.js" language="JavaScript" type="text/javascript"></script>
    <script src="js/createBand.js"></script>
    <script src="js/label.js" language="JavaScript" type="text/javascript"></script>
    <script src="js/createLabel.js" language="JavaScript" type="text/javascript"></script>
    <script src="js/print.js"></script>
    <script src="js/viewer_header01.js"></script>
    <script src="js/viewer.js"></script>
    <script src="js/drawingBand.js"></script>
    <style type="text/css">

      #header {
        background-color: #00B7FF;
      }

      .jbFixed {
        position: fixed;
        top: 0px;
      }

      .show-on-scroll { visibility: hidden; }
      .show-on-scroll.shown { visibility: visible; }

    </style>
  </head>

<body>
    <div id="header"></div>
    <div id="myModal" class="modal">
    </div>
    <div id="Image_Modal">
      <div id="modalLayer">
        <div class="modalContent">
          <form class="modelform" action="header.ejs" method="post">
            <input name="image_insert" type="file" multiple accept="image/*"><br/>
            <input id="upload_button" type="button" value="확인">
            <button type="button">취소</button>
          </form>

        </div>
      </div>
    </div>
    <div id="reportTemplate"></div>
    <!--<div id="report"></div>-->
</body>

  <script>

    $(document).ready(function(){
        $("#header").load("/include/header.ejs");
        $("#myModal").load("/include/modal.ejs");
        $("#myModal2").load("/include/modal2.ejs");

        var data = <%-data%>; // data에 Designer 파일 받아옴

        makeReportTemplate(data);

        var reportTemplate = new ReportTemplate(data);
        console.log(reportTemplate.reportList[0].layers.designLayer.bands[3].controlList);
        // console.log(data.ReportTemplate.ReportList.anyType.Layers.anyType); // Layer 총 3개 anyType[1]이면 DesignLayer
        // console.log(data.ReportTemplate.ReportList.anyType.Layers.anyType[1].Bands.anyType[0]); // DesignLayer에 anyType이 BandPageHeader인 애
        // console.log(data.ReportTemplate.ReportList.anyType.Layers.anyType[1].Bands.anyType[1]); // DesignLayer에 anyType이 BandData인 애
        // console.log(data.ReportTemplate.ReportList.anyType.Layers.anyType[1].Bands.anyType[1].ControlList.anyType); // anyType이 ControlDynamicTable인 애
        // console.log(data.ReportTemplate.ReportList.anyType.Layers.anyType[1].Bands.anyType); // 3개
        var Layers = data.ReportTemplate.ReportList.anyType[0].Layers.anyType;
        judgementControlList(reportTemplate.reportList[0].layers.designLayer.bands[3].controlList);
        //judgementBand(Layers);

    });

</script>

</html>
