<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/report_layer.js" language="JavaScript" type="text/javascript"></script>
    <script src="/js/band.js" language="JavaScript" type="text/javascript"></script>
    <script src="/js/label.js" language="JavaScript" type="text/javascript"></script>
    <script src="/js/createLabel.js" language="JavaScript" type="text/javascript"></script>
  </head>

<body>
    <div id="header"></div>
    <div id="report"></div>
</body>

  <script>

    $(document).ready(function(){
        $("#header").load("/include/header.ejs");

    });

    var data = <%-data%>; // data에 Designer 파일 받아옴

    // console.log(data.ReportTemplate.ReportList.anyType.Layers.anyType); // Layer 총 3개 anyType[1]이면 DesignLayer
    // console.log(data.ReportTemplate.ReportList.anyType.Layers.anyType[1].Bands.anyType[0]); // DesignLayer에 anyType이 BandPageHeader인 애
    // console.log(data.ReportTemplate.ReportList.anyType.Layers.anyType[1].Bands.anyType[1]); // DesignLayer에 anyType이 BandData인 애
    // console.log(data.ReportTemplate.ReportList.anyType.Layers.anyType[1].Bands.anyType[1].ControlList.anyType); // anyType이 ControlDynamicTable인 애
    // console.log(data.ReportTemplate.ReportList.anyType.Layers.anyType[1].Bands.anyType); // 3개
    var Layers = data.ReportTemplate.ReportList.anyType.Layers.anyType;

    judgementBand(Layers);

</script>

</html>
