ul#menu li a{
    text-decoration:none;
    color:black;
    visited:none;
}
ul.submenu {
    list-style:none;
    text-decoration: none;
}
ul.submenu li a{
    text-decoration:none;
    list-decoration:none;
}
ul.submenu li a:hover{
    color:pink;
}
.menubar{
    z-index:999;
}
.menubar li ul {
    background: rgb(109,109,109);
    display:none;  /* 평상시에는 서브메뉴가 안보이게 하기 */
    height:auto;
    padding:0px;
    margin:0px;
    border:0px;
    position:absolute;
    width:200px;
    z-index:999;
}

.menubar ul li:hover ul {
    display:block;   /* 마우스 커서 올리면 서브메뉴 보이게 하기 */
}

.topMenu ul li{
    display:inline;
    padding:0 3px;
}

/*위에는 version1 헤더  아래는 version2헤더*/
div#showPages{
    position:absolute; top:76px; left:1199px; float:left;
    width:85px;
    height:105px;
    background:white;
    border:1px solid #909090;
    display:none;
    float:left;
    z-index: 999;
}
div#rectangles{
    width:69px;
    height:69px;
}
div#howmany{
    width:58px;
    height:10px;
    margin-left:13px;
    margin-top:5px;
    margin-bottom:10px;
}
div#howmanybottom{
    width:79px;
    height:79px;
    float:left;
    margin-left:6px;
    opacity:0.5;

}
div#howmany p{
    display:inline-block;
    position:absolute; top:-5px; left:14px;
    padding:0px;
    font-size:9px;
    color:black;
}
div.room{
    width:14px;
    height:14px;
    border:1px solid #B8C4D3;
    margin-right:3px;
    margin-bottom:3px;
    float:left;
    display:block;
}
/*div.room:hover{
    background-color:#CADFFF;
}*/

#modalLayer > .modal-content {
    overflow:hidden;
    background-color: #fefefe;
    margin: 0px auto;
    width: 300px;
    height: 150px;
    margin-top:150px;
    border:2px solid #313e52;
    padding: 0px;
}

#image_dialog > #dialog {
    overflow:hidden;
    background-color: #fefefe;
    margin: 0px auto;
    width: 290px;
    height: 170px;
    margin-top:150px;
    border:2px solid #313e52;
    padding: 0px;
}

#modalLayer > .modal-content > #image_add_area > span {
    margin-top: 4px;
    background-color: #313e52;
    color: white;
    font-size: 12px;
}

#image_dialog > #dialog > .image_add_area > span {
    margin-top: 4px;
    background-color: #313e52;
    color: white;
    font-size: 12px;
}

.image_add_area {
    background-color: #313e52;
}

.image_insert_area {
    margin : 14px;
    text-align: center;
}

#extraheadoptions{
    readOnly : ture;
}

/* 항목선택 CSS */
ul#leftpart_modalTableChoice_header{
    padding : 0;
    width : 300px;
    overflow-x : scroll;
    display : block;
}
ul#leftpart_modalTableChoice_header > li{
    display: inline-block;
    padding : 0px 15px;
}
ul#leftpart_modalTableChoice_header > li:hover{
    background-color : #cce6ff;
    cursor : pointer;
}
ul#leftpart_modalTableChoice_header > li.selected_table{
    background-color : #cce6ff;
}
#rightpart_modalTableChoice{
    position : relative;
}

div#leftpart_modalTableChoice_main{
   overflow : auto;
}

button.tableChoice_btn  { width : 100%; }
button#tableChoice_up   { margin : 10px 0px; }
button#tableChoice_done { position : absolute; bottom : 0px;}
div#closebtn_modalTableChoice {
    display : inline-block;
    cursor : pointer;
    float : right;
    padding : 6px 8px;
    font-size : 14px;
}
ul#labelListUl{
    list-style : none;
    padding-left : 10px;
    margin-bottom : 0px;
}
ul#labelListUl > li{
    margin-bottom : 3px;
}
ul#labelListUl > li:hover{
    background-color : #cce6ff;
}
li.selected_th{
    background-color : #cce6ff;
}
button.tableChoice_btn:hover{
    cursor : pointer;
}