div.page{
    margin: auto;
}

body{
    margin : 0;
}

#reportTemplate{
    z-index: -3;
    background-color: transparent;
}

#modalLayer{display:none; position:relative;}
#modalLayer .modalContent{width:440px; height:200px; padding:20px; border:1px solid #ccc; position:fixed; left:50%; top:50%; z-index:11; background:#fff;}
#modalLayer .modalContent button{right:0; top:0; cursor:pointer;}

th .DRDSEQ{
    display: none;
    background-color: #888888;
    width : 100px;
}

.backGroundLayer{
    position: absolute;
    margin: 38px 38px 38px 38px;
    z-index: 1;
    background-color: lightgreen;
}

.foreGroundLayer{
    margin: 38px 38px 38px 38px;
    z-index: 3;
    background-color: lightcoral;
    position: absolute;

}

.report{
    position: absolute;
    z-index:2;
    margin: 38px 38px 38px 38px;
    background-color: lightblue;

}

.page{
    z-index: -2;
    background-color: transparent;
}

