/******************************************************************
 기능 : modal에 필요한 css 정의
 author : 하지연
 ******************************************************************/
input[type="number"]#copyratio::-webkit-outer-spin-button,
input[type="number"]#copyratio::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#copyratio{
    margin-left : 5px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    margin:0 auto;
    padding:0px;
}
.upperbar{
    background-color:#313e52;
    color:white;
    height:30px;
    padding:0px;
    float:left;
}
.upperbar span{
    font-size:12px;
    margin-top:4px;
}
.upperbar span.pop_bt{
    font-weight: bold;
}
.downpart{
    width: 667px;
    height: 486px;
    margin:0px;
    padding:0px;
    float:left;
    /*background-color:white;*/
}
.downpart2{
    width:100%;
    height:217px;
    margin:0px;
    padding:0px;
    float:left;
    background-color:#D7DFE7;
}
.leftpart{
    float:left;
    width:40%;
    /*background-color:lightblue;*/
    margin:5% 5%;
    height:380px;
}
.partstyle{
    border:1px solid gray;
    background-color:#f5f5f5;
    margin: 5px 5px;
    padding:5px 5px;
    font-size:12px;
    overflow: hidden;
}
.partstyle2{
   /* background-color:hotpink;*/
    width:100%;
    margin:3px 3px;
    font-size:12px;
}
.partstyle3{
    margin: 10px 10px;
    padding:5px 5px;
    font-size:12px;
    overflow: hidden;
    width: 660px;
    height: 187px;
}
.div1{
    width:25%;
    float:left;
   /* background-color:red;*/
}
.div2{
    width:35%;
    float:left;
    /*background-color:yellow;*/
}
.div3{
    width:40%;
    float:left;
    /*background-color:green;*/
}
.div4{
    width:75%;
    float:left;
    /*background-color:mediumpurple;*/
}
#copywrap{
    line-height : 22px;
}
#aproval_option{
    height : 130px;
}
.aproval_img{
    display : inline-block;
    margin : 3px 0px 0px 20px;
}
.paper_row_img {
    position : relative;
    margin: 5px 0px 0px 8px;
}
.paper_row_img > label:last-child{
    position : absolute;
    margin : 2px 0px 0px 10px;
    display : inline-block;
}

#direction_horizon{
    display:inline-block;
    margin-left:20px;"
}
.extraoption_select{
    height : 24px;
    margin-bottom : 4px;
}

.rightpart{
    float:left;
    width:40%;
    /*background-color:lightyellow;*/
    margin:5% 5%;
    height:380px;
}
span.subject{
    font-weight: bold;
    font-size:12px;
    margin-top:4px;
}
/* Modal Content/Box */
.modal-content {
    overflow:hidden;
    background-color: #fefefe;
    margin: 0px auto;
    width: 667px;
    height: 516px;
    margin-top:150px;
    border:2px solid #313e52;
}
.modal-content2{
    /*position:absolute; top:0px; left:0px;*/
    overflow:hidden;
    background-color: #fefefe;
    margin: 0px auto;
    width: 690px;
    height: 247px;
    margin-top:150px;
    border:2px solid #313e52;
}
.leftside{
    float:left;
    width:50%;
    height:20%;
    margin:0px auto;
}
.rightside{
    float:left;
    width:50%;
    height:20%;
    margin:0px auto;
}
.downside{
    float:left;
    width:100%;
    height:80%;
    margin:0px auto;
}
.num{
    width:50px;
}
#modaltable{
    border:solid 1px #6495ED;
    border-collapse: collapse;
    width:90%;
    height:60%;
    margin: 5px auto;
}
#modaltable tr{
    border:solid 1px #6495ED;
    border-collapse: collapse;
}
#modaltable td{
    width:12.5%;
    border:solid 1px #6495ED;
    border-collapse: collapse;
    font-size: 12px;
    color:black;
    background-color:#E3E3E3;
}
#myModal{
    z-index: 999;
}
#loadingModal{
    z-index: 999;
}

#modalTableChoice{
    z-index :999;
}

#leftpart_modalTableChoice{
    float:left;
    width:70%;
    background-color:lightblue;
    margin:2% 2%;
    height:380px;
}
#rightpart_modalTableChoice{
    float:right;
    width:20%;
    /*background-color:lightblue;*/
    margin-right: 2%;
    height:380px;
}
.temp_headerNfooter{
    z-index : -9999;
    visibility: hidden;
}
