@media print{
    #header {
        display: none;
    }

    * {
        -webkit-print-color-adjust: exact;
    }

    div.page-portrait {
        size: A4 portrait;
        margin: 0mm;
    }

    div.page-landscape {
        size: A4 landscape;
        margin: 0mm;
    }

    div.page.paperType-A4 {
        page-break-after: always;
        page: A4;
    }

    div.page.paperType-B4 {
        page-break-after: always;
        page: B4;
    }
    #BrowserPrintDefaults {
        display: none;
    }
}

@page {
    size: A4 portrait;
    margin: 0mm;
}