<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/header.css"/>
    <script>
        $(function(){
            $('#print').click(function(){
                var ratio =1;
                pagePrint(ratio);
            });
            $('#txtZoom').on("change",function(){
                test();
            });
            $("#copyOptions").on("change",function(){
                copyoptions();
            });
            $("#btnZoomIn").click(function(){
               zoomIn();
            });
            $("#btnZoomOut").click(function(){
                zoomOut();
            });
        });
    </script>
    <title></title>
  </head>
  <body>
<div class="menubar">
  <ul id="menu">
    <li style="display:inline;"><a href="#">파일</a>
      <ul class="submenu">
        <li><a href="#" onclick="test()">디자이너 실행</a></li>
        <li><a href="#">열기</a></li>
        <li><a href="#">저장</a></li>
        <li><a href="#">인쇄</a></li>
        <li><a href="#">고급인쇄 설정</a></li>
        <li><a href="#">닫기</a></li>
      </ul>
    </li>

    <li style="display:inline;"><a href="#">서식</a>
        <ul class="submenu">
          <li><a href="#">엑셀 내보내기</a></li>
          <li><a href="#">이미지 내보내기</a></li>
          <li><a href="#">PDF 내보내기</a></li>
          <li><a href="#">HTML 내보내기</a></li>
          <li><a href="#" class="image_upload_button">이미지 추가</a></li>
          <li><a href="#">항목 선택</a></li>
      </ul>
    </li>

    <li style="display:inline;"><a href="#">페이지</a>
        <ul class="submenu">
          <li><a href="#">이전 페이지</a></li>
          <li><a href="#">다음 페이지</a></li>
          <li><a href="#">첫 페이지</a></li>
          <li><a href="#">마지막 페이지</a></li>
      </ul>
    </li>

    <li style="display:inline;"><a href="#">보기</a>
        <ul class="submenu">
          <li><a href="#">한 페이지</a></li>
          <li><a href="#">여러 페이지</a></li>
          <li><a href="#">확대/축소</a></li>
      </ul>
    </li>

  </ul>
</div>
<div class="topMenu">
<ul>
  <li><input type="button" value="저장"></li>
  <li><input type="button" value="파일열기"></li>
  <li>
    <select id="copyOptions">
      <option selected disabled hidden>--인쇄--</option>
      <option id="print" value="copy">인쇄</option>
      <option id="enhancedcopy" value="ecopy">고급인쇄설정</option>
    </select>

  </li>
  <li><input type="button" value="DRD"></li>
  <li><input type="button" value="첫 페이지" id="FirstPage"></li>
  <li><input type="button" value="이전 페이지" id="PreviousPage"></li>
  <li><input type="text" value="1" id="NowPage"> /</li>
  <li><a id="TotalPage">10</a></li>
  <li><input type="button" value="다음 페이지" id="NextPage"></li>
  <li><input type="button" value="마지막 페이지" id="LastPage"></li>
  <li><input type="button" value="한 페이지만 보기"></li>
  <li><input type="button" value="여러 페이지 보기"></li>
  <li>
    <select id="txtZoom">
      <option value="2.0">200%</option>
      <option value="1.5">150%</option>
      <option selected value="1.0">100%</option>
      <option value="0.8">80%</option>
      <option value="0.5">50%</option>
      <option id="option1" style="display:none;">test</option>
    </select>
  </li>
  <li><input type="button" id="btnZoomIn" value="+"></li>
  <li><input type="button" id="btnZoomOut" value="-"></li>
  <li><input type="button" value="PDF"></li>
  <li><input type="button" value="엑셀"></li>
  <li><input type="button" value="셀"></li>
  <li><input type="button" value="HWP"></li>
  <li><input type="button" value="이미지"></li>
  <li><input type="button" value="HTML"></li>
  <li><input type="button" value="이미지 추가" class="image_upload_button"></li>
  <li><input type="button" value="항목 선택"></li>
</ul>
</div>
  </body>
<script>
    var pagecount = $(".page").length;
    $("#TotalPage").text(pagecount+"(TotalPage)"); //totalpage

    $(document).ready(function () {
        FirstPage();
        NowPage();
        PreviousPage();
        NextPage();
        LastPage(pagecount);
        HeaderFixAndPageScroll(pagecount);
        image_upload();
    });

</script>
</html>
