<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/header.css"/>
    <script src="js/viewer.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
    <script src="js/lib/canvas2image.js"/>

    <script>
        $(function(){
            $('#print').click(function(){
                pagePrint();//지연 - 페이지 비율을 100%로 고정하여 인쇄 페이지 이동
            });
            $('#txtZoom').on("change",function(){
                test();//지연 - 기존 zoomIn,zoomOut 값을 받아와 scale 조정
            });
            $("#copyOptions").on("change",function(){
                copyoptions();  //지연 - 인쇄버튼 또는 고급인쇄창 옵션을 결정하는 function
            });
            $("#saveAsImage").on("change",function(){
                imageOptions();  //지연 - 이미지 타입 결정하여 화면을 저장 function
            });
            $("#btnZoomIn").click(function(){
               zoomIn();  //지연 - 화면 zoomIn function
            });
            $("#btnZoomOut").click(function(){
                zoomOut();  //지연 - 화면 zoomOut function
            });
            $("#showpages").click(function(){
                $("#showPages").show(); //지연 - 여러페이지보기 - 개발보류
            });
            $("div.room").mouseover(function(){
               $(this).css("background-color","#CADFFF");  //지연 - 여러페이지보기 front개발중 개발 보류
            });
            $("div.room").mouseleave(function(){
                $(this).css("background-color","white");  //지연 - 여러페이지보기 front개발중 개발 보류
            });
            $(".saveAsPdf").on("mouseover", function(){
                makePdf();  //지연 - 화면을 pdf로 만드는 function()
            });
            $(".saveAsPdf").on("click", function(){
                saving();  //지연 - 화면을 pdf로 만든 후 저장하는 function()
            });
            $("#showpages").on("click", function () {
                print_test();
            });
            $("#saveAsHTML").on("mouseup",function(){
                makeHTML();
            });


        });
    </script>
    <style>
      a:visited{
        text-decoration:none;
      }
    </style>
    <title></title>
  </head>
  <body>
<div class="menubar">
  <ul id="menu">
    <li style="display:inline;"><a href="#">파일</a>
      <ul class="submenu">
        <li><a href="#" onclick="test()">디자이너 실행</a></li>
        <li><a href="#">열기</a></li>
        <li><a href="#">저장</a></li>
        <li><a href="#">인쇄</a></li>
        <li><a href="#">고급인쇄 설정</a></li>
        <li><a href="#">닫기</a></li>
      </ul>
    </li>

    <li style="display:inline;"><a href="#">서식</a>
        <ul class="submenu">
          <li><a href="#">엑셀 내보내기</a></li>
          <li><a href="#">이미지 내보내기</a></li>
          <li class="saveAsPdf" style="cursor: pointer;">PDF 내보내기</li>
          <li><a href="#">HTML 내보내기</a></li>
          <li><a href="#" class="image_upload_button">이미지 추가</a></li>
          <li><a href="#">항목 선택</a></li>
      </ul>
    </li>

    <li style="display:inline;"><a href="#">페이지</a>
        <ul class="submenu">
          <li><a href="#">이전 페이지</a></li>
          <li><a href="#">다음 페이지</a></li>
          <li><a href="#">첫 페이지</a></li>
          <li><a href="#">마지막 페이지</a></li>
      </ul>
    </li>

    <li style="display:inline;"><a href="#">보기</a>
        <ul class="submenu">
          <li><a href="#">한 페이지</a></li>
          <li><a href="#">여러 페이지</a></li>
          <li><a href="#">확대/축소</a></li>
      </ul>
    </li>

  </ul>
</div>
<div class="topMenu">
<ul>
  <li><input type="button" value="저장"></li>
  <li><input type="button" value="파일열기"></li>
  <li>
    <select id="copyOptions">
      <option id="defaultoption"selected disabled hidden>--인쇄--</option>
      <option id="print" value="copy">인쇄</option>
      <option id="enhancedcopy" value="ecopy">고급인쇄설정</option>
    </select>
  </li>
  <li><input type="button" value="DRD" id="DRD_Start"></li>
  <li><input type="button" value="첫 페이지" id="FirstPage"></li>
  <li><input type="button" value="이전 페이지" id="PreviousPage"></li>
  <li><input type="text" value=1 id="NowPage"> /</li>
  <li><a id="TotalPage">10</a></li>
  <li><input type="button" value="다음 페이지" id="NextPage"></li>
  <li><input type="button" value="마지막 페이지" id="LastPage"></li>
  <li><input type="button" value="한 페이지만 보기"></li>
  <li><input id="showpages" type="button" value="여러 페이지 보기">
  <!--<div id="showPages">-->

    <!--<div id="rectangles">-->
      <!--<div id="howmany">-->
        <!--<p>a x b pages</p>-->
      <!--</div>-->
      <!--<div id="howmanybottom">-->
        <!--<div class="room"><input value="(0,0)" hidden></div>-->
        <!--<div class="room"><input value="(0,1)" hidden></div>-->
        <!--<div class="room"><input value="(0,2)" hidden></div>-->
        <!--<div class="room"><input value="(0,3)" hidden></div>-->
        <!--<div class="room"><input value="(1,0)" hidden></div>-->
        <!--<div class="room"><input value="(1,1)" hidden></div>-->
        <!--<div class="room"><input value="(1,2)" hidden></div>-->
        <!--<div class="room"><input value="(1,3)" hidden></div>-->
        <!--<div class="room"><input value="(2,0)" hidden></div>-->
        <!--<div class="room"><input value="(2,1)" hidden></div>-->
        <!--<div class="room"><input value="(2,2)" hidden></div>-->
        <!--<div class="room"><input value="(2,3)" hidden></div>-->
        <!--<div class="room"><input value="(3,0)" hidden></div>-->
        <!--<div class="room"><input value="(3,1)" hidden></div>-->
        <!--<div class="room"><input value="(3,2)" hidden></div>-->
        <!--<div class="room"><input value="(3,3)" hidden></div>-->
      <!--</div>-->

    <!--</div>-->
  <!--</div>-->
  </li>
  <li>
    <select id="txtZoom">
      <option value="2.0">200%</option>
      <option value="1.5">150%</option>
      <option selected value="1.0">100%</option>
      <option value="0.8">80%</option>
      <option value="0.5">50%</option>
      <option id="option1" style="display:none;">test</option>
    </select>
  </li>
  <li><input type="button" id="btnZoomIn" value="+"></li>
  <li><input type="button" id="btnZoomOut" value="-"></li>
  <li><input type="button" value="PDF"class="saveAsPdf"></li>
  <li><input type="button" value="엑셀"></li>
  <li><input type="button" value="셀"></li>
  <li><input type="button" value="HWP"></li>
  <li>
    <select id="saveAsImage">
      <option id="saveAsDefault"selected disabled hidden>--이미지--</option>
      <option id="saveAsPng" value="png">PNG</option>
      <option value="jpeg"><a id="saveAsJpg">JPEG</a></option>
      <option id="saveAsBmp" value="bmp">BMP</option>
      <option id="saveAsTiff" value="tiff">TIFF</option>
      <option id="saveAsGif" value="gif">GIF</option>
    </select>
  </li>
  <li><button><a id="saveAsHTML" type="button" style="text-decoration: none;">HTML</a></button></li>
  <li><input type="button" value="이미지 추가" class="image_upload_button">
  </li>
  <li><input type="button" value="항목 선택" id="tableChoice"></li>
</ul>
</div>
  </body>
<script>
    var pagecount = $(".page").length;
    $("#TotalPage").text(pagecount); //totalpage

    $(document).ready(function () {
        FirstPage();
        NowPage();
        PreviousPage();
        NextPage();
        LastPage(pagecount);
        HeaderFixAndPageScroll(pagecount);
        image_upload();
        DRD_button();
        tableChoice();
        $("#h1 > .test").val();
    });

</script>
</html>
