<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/header.css"/>
    <script src="js/viewer.js"></script>
      <script src="js/modal.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
    <script src="js/lib/canvas2image.js"/>

    <script>
        $(function(){
            $('#txtZoom').on("change",function(){
                test();//지연 - 기존 zoomIn,zoomOut 값을 받아와 scale 조정
            });
            $("#copyOptions, #copyOptions li").on("click",function(event){
                copyoptions($(this).attr('id'));  //지연 - 인쇄버튼 또는 고급인쇄창 옵션을 결정하는 function
                event.stopPropagation();
            });
            $("#saveAsImage li").on("click",function(){
                imageOptions($(this).text().trim());  //지연 - 이미지 타입 결정하여 화면을 저장 function
            });
            $("#btnZoomIn").click(function(){
               zoomIn();  //지연 - 화면 zoomIn function
            });
            $("#btnZoomOut").click(function(){
                zoomOut();  //지연 - 화면 zoomOut function
            });
            $("#showpages").click(function(){
                $("#showPages").show(); //지연 - 여러페이지보기 - 개발보류
            });
            $("div.room").mouseover(function(){
               $(this).css("background-color","#CADFFF");  //지연 - 여러페이지보기 front개발중 개발 보류
            });
            $("div.room").mouseleave(function(){
                $(this).css("background-color","white");  //지연 - 여러페이지보기 front개발중 개발 보류
            });
            $("#saveAsPdf").on("click", function(){ //지연 - pdf내보내기
                var imageName = "PDF";
                beginLoading(imageName);
                $("#loadingModal").css("display","block");

                makePdf().then(function(area){//makePdf()실행 이후 실행되는 function = then이하
                    beforeSaving(area[0], area[1], area[2]).then(function(area){
                        createPdf(area[0], area[1], area[2]).then(function(area){
                            saving();
                            endingLoading(area[3]);
                          });
                    });
                }).then(function(){
                });
            });
            $("#showpages").on("click", function () {
                print_test();
            });
            $("#saveAsHTML").on("mouseup",function(){
                var imageName = 'HTML';
                beginLoading(imageName);
                makeHTML();
                endingLoading();
            });
        });
    </script>
    <style>
      a:visited{
        text-decoration:none;
      }
      a{
        text-decoration:none;
      }
    </style>
    <title></title>
  </head>
  <body>
<div class="topMenu">
    <img id='douzone_logo'src="image/logo01.png"/>
<ul id="header_ul">
  <li class="header_btn" id="saving" title="저장" style="left:0px;"><img src="image/drd_image/top_btn_save1.png"/></li>
  <li class="header_btn" id="file_opener" title="파일열기" style="left:40.375px;"><img src="image/drd_image/top_btn_open1.png"/></li>
  <li class="header_btn" title="인쇄" id="copyOptions" style="left:80.75px;">
      <img src="image/drd_image/top_btn_print1.png"/>
      <ul id="copyOptions_list">
          <li id="print">인쇄</li>
          <li id="enhancedcopy" title="고급인쇄설정">고급인쇄설정</li>
      </ul>

    <!--<select id="copyOptions">-->
      <!--<option id="defaultoption"selected disabled hidden>&#45;&#45;인쇄&#45;&#45;</option>-->
      <!--<option id="print" value="copy">인쇄</option>-->
      <!--<option id="enhancedcopy" value="ecopy">고급인쇄설정</option>-->
    <!--</select>-->
  </li>
  <!--<li class="header_btn" id="DRD_Start" title="디자이너 실행"><img src="image/drd_image/top_btn_DRD1.png"/></li>-->
  <li class="header_btn" id="FirstPage" title="첫 페이지" style="left:121.125px;"><img src="image/drd_image/top_btn_front011.png"/></li>
  <li class="header_btn" id="PreviousPage" title="이전 페이지" style="left:155.5px;"><img src="image/drd_image/top_btn_front021.png"/></li>

  <li id="page_nav" style="left:195.875px;">
    <input type="text" value=1 id="NowPage">
    <label> / </label>
    <label id="TotalPage">10</label>
  </li>
  <li class="header_btn" id="NextPage" title="다음 페이지" style="left:270.672px;"><img src="image/drd_image/top_btn_back011.png"/></li>
  <li class="header_btn" id="LastPage" title="마지막 페이지" style="left:305.047px;"><img src="image/drd_image/top_btn_back021.png"/></li>
  <!--<div id="showPages">-->
    <!--<div id="rectangles">-->
      <!--<div id="howmany">-->
        <!--<p>a x b pages</p>-->
      <!--</div>-->
      <!--<div id="howmanybottom">-->
        <!--<div class="room"><input value="(0,0)" hidden></div>-->
        <!--<div class="room"><input value="(0,1)" hidden></div>-->
        <!--<div class="room"><input value="(0,2)" hidden></div>-->
        <!--<div class="room"><input value="(0,3)" hidden></div>-->
        <!--<div class="room"><input value="(1,0)" hidden></div>-->
        <!--<div class="room"><input value="(1,1)" hidden></div>-->
        <!--<div class="room"><input value="(1,2)" hidden></div>-->
        <!--<div class="room"><input value="(1,3)" hidden></div>-->
        <!--<div class="room"><input value="(2,0)" hidden></div>-->
        <!--<div class="room"><input value="(2,1)" hidden></div>-->
        <!--<div class="room"><input value="(2,2)" hidden></div>-->
        <!--<div class="room"><input value="(2,3)" hidden></div>-->
        <!--<div class="room"><input value="(3,0)" hidden></div>-->
        <!--<div class="room"><input value="(3,1)" hidden></div>-->
        <!--<div class="room"><input value="(3,2)" hidden></div>-->
        <!--<div class="room"><input value="(3,3)" hidden></div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <li id="txtZoomLi" style="left:345.422px;">
    <select id="txtZoom">
      <option value="2.0">200%</option>
      <option value="1.5">150%</option>
      <option selected value="1.0">100%</option>
      <option value="0.8">80%</option>
      <option value="0.5">50%</option>
      <option id="option1" style="display:none;">test</option>
    </select>
  </li>
  <li class="header_btn" id="btnZoomIn" title="확대"style="left:417.797px;"><img src="image/drd_image/top_btn_Z_in1.png"/></li>
  <li class="header_btn" id="btnZoomOut" title="축소" style="left:458.172px;"><img src="image/drd_image/top_btn_Z_out1.png"/></li>
  <li class="header_btn" id="saveAsPdf" title="PDF 내보내기" style="left:498.547px;"><img src="image/drd_image/top_btn_pdf1.png"/></li>
  <!--<li class="header_btn" id="saveAsExcel" title="엑셀로 내보내기"><img src="image/drd_image/top_btn_excel1.png"/></li>-->
  <!--<li class="header_btn" id="saveAsHancel" title="한셀(넥셀)로 내보내기"><img src="image/drd_image/top_btn_cell1.png"/></li>-->
  <!--<li class="header_btn" id="saveAsHWP" title="한글로 내보내기"><img src="image/drd_image/top_btn_hwp1.png"/></li>-->
  <li class="header_btn" id="saveAsImage" title="이미지 내보내기" style="left:538.922px;">
      <img src="image/drd_image/top_btn_img1.png"/>
      <ul id="saveImgList">
          <li id="saveAsPng" title="PNG로 내보내기"><img src="image/drd_image/export_png24.png"/> PNG</li>
          <li id="saveAsJpg" title="JPG로 내보내기"><img src="image/drd_image/export_jpg24.png"/> JPG</li>
          <li id="saveAsBmp" title="BMP로 내보내기"><img src="image/drd_image/export_bmp24.png"/> BMP</li>
          <li id="saveAsTiff" title="TIFF로 내보내기"><img src="image/drd_image/export_tiff24.png"/> TIFF</li>
          <li id="saveAsGif" title="GIF로 내보내기"><img src="image/drd_image/export_gif24.png"/> GIF</li>
      </ul>
  </li>
  <li class="header_btn" title="HTML로 내보내기" style="left:579.297px;"><a id="saveAsHTML" type="button" style="text-decoration: none;"><img src="image/drd_image/top_btn_html1.png"></a></li>
  <li class="header_btn" id="image_upload_button" title="이미지 추가" style="left:619.672px;"><img src="image/drd_image/top_btn_img_plus1.png"/></li>
  <li class="header_btn" id="tableChoice" title="항목선택"style="left:660.047px;"><img src="image/drd_image/SelectColumn1.png"/></li>
  <li class="header_btn" id="reportChoice_li" title="리포트 선택" style="left:699.047px;"><img id="reportChoice" src="image/drd_image/report_choice_img.png"/></li>
</ul>
</div>
  </body>
<script>
    var pagecount = $(".page").length;
    $("#TotalPage").text(pagecount); //totalpage

    $(document).ready(function () {
        FirstPage();
        NowPage();
        PreviousPage();
        NextPage();
        LastPage(pagecount);
        HeaderFixAndPageScroll(pagecount);
        image_upload();
        DRD_button();
        tableChoice();
        report_choice();
        file_save();
        file_open();
        header_event_setting();
        header_event_setting2();
        $("#h1 > .test").val();
        $('#header_ul > li').css('display', 'inline-block');
    });

</script>
</html>
