<!------------ 리포트 선택 ------------>
<div class="modal-content" style="width:280px;height:300px;margin:200px auto 0px auto;">
    <div class="upperbar" style="width:100%;">
        <span id="report_choice_span_text">리포트 선택</span>
        <span id="closebtn_modalReportChoice"class="pop_bt">X</span>
    </div>
    <div class="downpart" style="width:100%;height:270px;">
        <ul id="reportListUl"></ul>
        <button id="reportChoice_done">확인</button>
    </div>
</div>