<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <script src="js/modal.js">
    </script>
</head>
<body>
<div class="modal-content">
    <div class="upperbar" style="width:100%;">
        <span style="width:50%; text-align:left; float:left;margin:6px 0px 0px 10px;">고급인쇄설정</span>
        <span id="closebtn"class="pop_bt" style="cursor:pointer;float:right;margin:2px 3px 0px 0px; padding:4px 8px 3px 6px;">X</span>
    </div>
    <div class="downpart">
        <!--<form id="modalForm" name="modalForm" onsubmit="return beforeSubmit();">-->
        <form id="modalForm" name="modalForm">
        <div class="leftpart">
            <span class="subject">인쇄설정</span>
            <div class="partstyle">
                <div class="partstyle2" style="height:50px;">
                    <div id="copywrap">
                        <span>인쇄 배율</span>
                        <input id="copyratio" name="copyratio" type="text" value="100"
                               autofocus style="width:70px; ime-mode: disabled">&nbsp;%
                        <p id="warning" style="display:block; color:darkred; margin-top:10px; font-size:9px;"></p>
                        <p id="warning2" style="display:block; color:darkred; margin-top:10px; font-size:9px;"></p>
                    </div>
                </div>
            </div>

            <span class="subject">결재란 설정</span>
            <div class="partstyle" id="aproval_option">
                <div class="partstyle2" style="height:50px;">
                    <div class="div1">
                        <span>인쇄여부</span>
                    </div>
                    <div class="div2">
                        <label><input id="copyornot1" type="radio" name="copyornot" value="인쇄함"/>인쇄함</label>
                        <br/>
                        <label><input id="copyornot2" type="radio" name="copyornot" value="인쇄안함" checked="checked"/>인쇄안함</label>
                    </div>
                    <div class="div3">
                        <label class="container">
                            <input type="button" id="mymodal2" value="결재란 등록" style="cursor:pointer;">
                        </label>
                    </div>
                </div>

                <div class="partstyle2" style="height:50px;">
                    <div class="div1">
                        <span>인쇄 위치</span>
                    </div>
                    <div class="div2">
                        <label><input type="radio" id="title_top" name="titleposition" value="타이틀상단"checked="checked"/>타이틀상단</label>
                        <label for="title_top" class="aproval_img"><img src="image/drd_image/print_img_title1_normal1.png"/></label>
                    </div>
                    <div class="div3">
                        <label><input type="radio" id="title_bottom" name="titleposition" value="타이틀하단"/>타이틀하단</label>
                        <label for="title_bottom" class="aproval_img"><img src="image/drd_image/print_img_title2_normal1.png"/></label>
                    </div>
                </div>

            </div>
            <span class="subject">폰트설정</span>
            <div class="partstyle">
                <div class="partstyle2">
                    <span>폰트서식</span>

                    <label><input type="radio"class="fontform" name="fontform" value="굴림" checked="checked"/>굴림체</label>
                    <label><input type="radio"class="fontform" name="fontform" value="바탕" />바탕체</label>
                    <label><input type="radio"class="fontform" name="fontform" value="돋움"/>돋움체</label>

                    <br/>

                    <span>폰트내용</span>

                    <label><input type="radio"class="fontcontent" name="fontcontent" value="굴림" checked="checked"/>굴림체</label>
                    <label><input type="radio"class="fontcontent" name="fontcontent" value="바탕" />바탕체</label>
                    <label><input type="radio"class="fontcontent" name="fontcontent" value="돋움" />돋움체</label>

                    <br/>
                </div>

                <div class="partstyle2" >
                    <label><input name="fontandtilt" type="checkbox">폰트자동조정</label>
                    <br/>
                    <label><input name="pricetilt" id="pricetilt" type="checkbox">금액 기울임꼴 표시</label>
                </div>
            </div>

        </div>
        <div class="rightpart">
            <span class="subject">용지설정</span>
            <div class="partstyle">

                <div class="partstyle2" style="height:20px;" >
                    <div class="div1">
                        <span>용지선택</span>
                    </div>

                    <div class="div4">
                        <select id="pagesizeoptions">
                            <option>Letter</option>
                            <option>Tabloid</option>
                            <option>Legal</option>
                            <option>Statement</option>
                            <option>Executive</option>
                            <option>A3</option>
                            <option selected>A4</option>
                            <option>A5</option>
                            <option>B4 (JIS)</option>
                            <option>B5 (JIS)</option>
                        </select>
                    </div>
                </div>
                <br/>
                <div class="partstyle2" style="height:60px;">
                    <div class="div1">
                        <span>용지방향</span>
                    </div>
                    <div class="div4">
                        <div class="paper_row_col">
                            <input type="radio" id="direction_vertical" class="direction"
                                   name="direction" value="세로" checked="checked"><label for="direction_vertical">세로</label>
                            <input type="radio" id="direction_horizon" class="direction"
                                   name="direction" value="가로"><label for="direction_horizon">가로</label>
                            <br>
                            <div class="paper_row_img">
                                <label for="direction_vertical"><img src="image/drd_image/print_img_height_normal1.png"/></label>
                                <label for="direction_horizon"><img src="image/drd_image/print_img_width_normal1.png"/></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <span class="subject">출력설정</span>
            <div class="partstyle">

                <div class="partstyle2" style="height:40px;" >
                    <div class="div1">
                        <span>출력일인쇄</span>
                    </div>
                    <div class="div4">
                            <label><input type="radio" id="copydate_id" class="copydate" name="copydate" value="인쇄함"/>인쇄함</label>
                            <label><input type="radio" class="copydate" name="copydate" value="인쇄안함" checked="checked"/>인쇄안함</label>
                    </div>

                    <div class="div1">
                        <span>매수 인쇄</span>
                    </div>
                    <div class="div4">
                        <label><input type="radio" id="copycount_id" class="copycount" name="copycount" value="인쇄함"/>인쇄함</label>
                        <label><input type="radio" id="copycount_not" class="copycount" name="copycount" value="인쇄안함" checked="checked"/>인쇄안함</label>
                    </div>
                </div>
                <br/>
                <div class="partstyle2" style="height:50px;" >
                    <div class="div1">
                        <label class="container">
                            <input id="extra_header_using_check" name="extra" type="checkbox">머리글
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="div4">
                        <select class="extraoption_select" id="extraheadoptions" disabled>
                            <option>상단좌측</option>
                            <option>상단중앙</option>
                            <option>상단우측</option>
                        </select>
                        <br/>
                        <input id="extrahead" type="text" disabled/>
                    </div>
                </div>
                <br/>
                <div class="partstyle2" style="height:50px;" >
                    <div class="div1">
                        <label class="container">
                            <input id="extra_tail_using_check" name="extra" type="checkbox">꼬리글
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="div4">
                        <select class="extraoption_select" id="extratailoptions" disabled>
                            <option>하단좌측</option>
                            <option>하단중앙</option>
                            <option>하단우측</option>
                        </select>
                        <br/>
                        <input id="extratail" type="text" disabled/>
                    </div>
                </div>
            </div>
        </div>
        <div class="close" style="float:right; margin-right:38px; margin-top:-10px;background-color:#D7DFE7;">
            <input type="button" name="close" onclick="beforeSubmit();" id="closebtn2" value="확인" tabindex="3" style="cursor:pointer;width:70px;height:25px;">
        </div>
        </form>
    </div>
</div>
<div id="modalcase" class="modal" style="display:none;">
    <div id="modal2">
        <div class="modal-content2">
            <div class="upperbar" style="width:100%;">
                <span style="width:50%; text-align:left; float:left;margin-left:10px;">결재란 등록</span>
                <span id="closebtn3"class="pop_bt" style="cursor:pointer;float:right;margin-right:10px;">X</span>
            </div>
            <div class="downpart2" style="width:100%; background-color:#D7DFE7;">
                <div class="partstyle3" style="background-color:#D7DFE7;">
                    <div class="leftside" style="background-color:#D7DFE7;">
                        <span>결재란 칸수 지정</span> <input id="sign" type="number" min="0" max="8"/>
                        <p id="alertsign" style="display:block; color:darkred;
                            margin-left:130px; margin-top:-15px; font-size:9px;"></p>
                    </div>
                    <div class="rightside" style="background-color:#D7DFE7;">
                        <label class="container">
                            <input name="rangesetting" type="checkbox">전결 범위 지정
                            <input id="range1" class="num" type="number"/> &nbsp;~&nbsp; <input id="range2" class="num" type="number"/>
                            <!--<span class="checkmark"></span>-->
                        </label>
                    </div>
                    <div class="downside" style="background-color:#D7DFE7;">
                        <span style="margin-bottom:5px;">결재라인을 입력해 주세요. (최대 8개)</span>
                        <table id="modaltable">
                            <tr id="row1" style="height:30%;">
                                <td id="modaltd0" class="modaltd"> </td>
                                <td id="modaltd1" class="modaltd"></td>
                                <td id="modaltd2" class="modaltd"></td>
                                <td id="modaltd3" class="modaltd"></td>
                                <td id="modaltd4" class="modaltd"></td>
                                <td id="modaltd5" class="modaltd"></td>
                                <td id="modaltd6" class="modaltd"></td>
                                <td id="modaltd7" class="modaltd"></td>
                            </tr>

                            <tr id="row2" style="height:70%;">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                        </table>
                        <input id="closebtn4" type="submit" value="취소" tabindex="3" style="cursor:pointer;width:70px;height:25px;float:right;margin-top:5px;margin-right:32px;">
                        <input type="submit" value="확인" tabindex="3"
                               style="cursor:pointer;width:70px;height:25px;float:right;margin-top:5px;margin-right:10px;">
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>
